In [2]:
# Importando a biblioteca SQLite
import sqlite3

In [3]:
# Criando o banco de dados
conexao = sqlite3.connect('BancoDados')

In [4]:
# Apontando para o banco de dados, com a variável cursor. Sempre que for enviar infos para o BD, utilizaremos a variável cursor
cursor = conexao.cursor()

In [ ]:
# CREATE TABLE - criar tabelas dentro do banco de dados
cursor.execute(
    'CREATE TABLE primeira_tabela (Data text, Nome text, Idade real)'
)

In [8]:
# Para, de fato, criar a tabela, precisamos fazer um commit
conexao.commit()

In [10]:
# Inserindo dados na nossa tabela
cursor.execute('INSERT INTO primeira_tabela VALUES("03/06/2022", "Renata", "24")')
# INSERT INTO (nome da tabela) VALUES (valores separados por vírgula e na ordem)

In [ ]:
# Importanto biblioteca de números aleatórios
import random

#loop para executar 10 vezes
for loop in range(10):
    numeroAleatorio = random.randint(10,20)

#Inserindo informação na tabela
cursor.execute('INSERT INTO primeira_tabela VALUES ("04/06/2022", "Alguém", (numeroAleatorio) )')

In [23]:
# Query de consulta
consulta = cursor.execute( ' SELECT * FROM primeira_tabela').fetchall()

print(consulta)

[('03/06/2022', 'Renata', 24.0), ('03/06/2022', 'Renata', 24.0)]

In [25]:
# Consultando apenas coluna nome e idade
consulta_2 = cursor.execute('SELECT Nome, Idade FROM primeira_tabela').fetchall()

#loop para mostrar em lista
for linha in consulta_2:
    print(linha)

('Renata', 24.0)
('Renata', 24.0)